{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Admin Dashboard 👑</h2>

<!-- ===== DASHBOARD CARDS ===== -->
<div class="row mb-4 text-center">

    <div class="col">
        <div class="card p-2">
            <small>Total Users</small>
            <h5>{{ users|length }}</h5>
        </div>
    </div>

    <div class="col">
        <div class="card p-2">
            <small>Doctors</small>
            <h5>{{ doctor_count }}</h5>
        </div>
    </div>

    <div class="col">
        <div class="card p-2">
            <small>Patients</small>
            <h5>{{ patient_count }}</h5>
        </div>
    </div>

    <div class="col">
        <div class="card p-2">
            <small>Pharmacists</small>
            <h5>{{ pharmacist_count }}</h5>
        </div>
    </div>

    <div class="col">
        <div class="card p-2">
            <small>Receptionists</small>
            <h5>{{ reception_count }}</h5>
        </div>
    </div>

</div>


<!-- ===== ADD USER FORM ===== -->
<div class="card p-4 mb-4">
    <h5 class="mb-3">Add New User</h5>

    <form method="POST" action="/add_user">
        <div class="row">

            <div class="col-md-3 mb-2">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>

            <div class="col-md-3 mb-2">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="col-md-3 mb-2">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <div class="col-md-2 mb-2">
                <select name="role" class="form-control" required>
                    <option value="">Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="doctor">Doctor</option>
                    <option value="patient">Patient</option>
                    <option value="receptionist">Receptionist</option>
                    <option value="pharmacist">Pharmacist</option>
                </select>
            </div>

            <div class="col-md-1 mb-2">
                <button type="submit" class="btn btn-primary w-100">Add</button>
            </div>

        </div>
    </form>
</div>
<!--==== search bar ====-->
<div class="card p-3 mb-3">
    <form method="GET" action="/admin">
        <div class="row">

            <div class="col-md-10">
                <input type="text" name="search" class="form-control"
                       placeholder="Search by name or email">
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary w-100">Search</button>
            </div>

        </div>
    </form>
</div>

<!-- ===== USER TABLE ===== -->
<div class="card p-4">
    <h5 class="mb-3">All Users</h5>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>
                    <span class="badge bg-info text-dark">
                        {{ user[4] }}
                    </span>
                </td>
                <td>
                   <form action="/delete_user/{{ user[0] }}" method="POST" style="display:inline;">
                     <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}